.onglet {
    display: inline-block;
    cursor: pointer;
    width: 25%;
    margin-right: -3px;
    text-transform: uppercase;
    font: menu;
    font-size: 17px;
    height: 50px;
    line-height: 50px;
}
.compte{
    color: red;
}
.argent{
    color: green;
}
.direct{
    color: blue;
}
.onglet_0:hover{
	transition: background 0.35s linear, border 0.35s linear;
	-moz-transition: background 0.35s linear, border 0.35s linear;
	-ms-transition: background 0.35s linear, border 0.35s linear;
	 background: rgb(72, 162, 244);
}
.systeme_onglets {
    background-color: #1385EF;
    border-bottom: 2px solid #3A5F8D;
}
.onglet_0 {
    transition: background 1s linear, border 1s linear;
    -moz-transition: background 1s linear, border 1s linear;
    -ms-transition: background 1s linear, border 1s linear;
    background: #1385EF;
    padding: 15px 0;
    color: #FFFFFF;
    text-align: center;
}
.onglet_1 {
    transition: background 1s linear, border 1s linear;
    -moz-transition: background 1s linear, border 1s linear;
    -ms-transition: background 1s linear, border 1s linear;
    background: #77AEE1;
    padding: 15px 0;
    color: #ffffff;
    text-align: center;
}
a{
    color: #ffffff;
    text-decoration: none;
}
.contenu_onglet
{
        background-color: #F3F0F0;
	    padding: 2%;
	    width: 96%;
	    border-radius: 0 0 7px 7px;
        display:none;
}
ul
{
        margin-top:0px;
        margin-bottom:0px;
        margin-left:-10px
}
h1 {
    margin-bottom: 35px;
    padding: 0px;
    text-transform: uppercase;
    text-align: center;
}
.contenu_onglets {
    width: 100%;
    border-radius: 7px;
}
body {
    margin: 0;
    font: menu;
    overflow-x: hidden;
    font-size: 15px;
        background-color: #DBDBDB;
}
label.consomateur {
    margin: 0 40px;
}
input.consomateur{
	width: 40%;
	padding: 10px;
	border-radius: 7px;
}
select.consomateur-operation{
    width: 50%;
    margin-left: 25%;
    margin-top: 30px;
    padding: 10px;
    border-radius: 7px;
}
input.consomateurs{
    width: 20%;
    padding: 10px;
    border-radius: 7px;
}
label.consomateurss {
    font-size: 19px;
    margin-right: 15px;
    font-weight: 700;
}
input.consomateurss {
    width: 50%;
    padding: 10px;
    border-radius: 7px;
}
.inline {
    display: -webkit-box;
}
.content{
    padding: 30px;
}
.corps p{
    text-align: center;
}
input.submit:hover, input.submit_boisson:hover {
	transition: background 0.35s linear;
    background-color: #77AEE1;
}
input.submit {
	transition: background 0.35s linear;
    width: 36%;
    padding: 15px;
    margin-top: 30px;
    border: 0px;
    background-color: #1385EF;
    color: #fff;
    text-transform: uppercase;
    margin-left: 32%;
    border-radius: 7px;
}
input.submit-operation {
    transition: background 0.35s linear;
    width: 50%;
    padding: 15px;
    margin-top: 30px;
    border: 0px;
    background-color: #1385EF;
    color: #fff;
    text-transform: uppercase;
    margin-left: 25%;
    border-radius: 7px;
}
input.submitprix {
    transition: background 0.35s linear;
    padding: 12px;
    margin-left: 17%;
    width: 34%;
    border: 0px;
    background-color: #1385EF;
    color: #fff;
    text-transform: uppercase;
    border-radius: 7px;
}
input.submit_boisson {
	transition: background 0.35s linear;
    width: 72%;
    padding: 15px;
    border: 0px;
    background-color: #1385EF;
    color: #fff;
    text-transform: uppercase;
    margin-left: 16%;
    border-radius: 7px;
}
p {
    font-size: 15px;
}
.green{
	color: green;
}
span.x {
    font-size: 25px;
    font-weight: 900;
    color: red;
}
table.tab_list {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
table.tab_list tr td {
    /* border-bottom: 1px solid #000; */
    padding: 0px 35px;
}
select.consomateur {
    width: 26%;
    padding: 10px;
    border-radius: 7px;
    margin-top: 30px;
    margin-left: 37%;
}